<div id="footer">
    <div class="bot1">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="logo2_wrapper">
                        <a href="#home" class="logo2 scroll-to">
                            <img src="assets\images\logoApps.png" alt class="img-responsive" />
                        </a>
                    </div>
                    <p>{{ "FOOTER.1" | translate }}</p>
                    <br />
                    <div class="bott">{{ "FOOTER.2" | translate }}</div>
                    <ul class="social clearfix">
                        <li>
                            <a href="https://www.facebook.com/apps4you.org/">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/apps4you-softaware-as-service-23a8191b8/">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <div class="bot_title">{{ "FOOTER.3" | translate }}</div>
                    <ul class="bot_menu clearfix">
                        <li>
                            <a href="#">{{ "FOOTER.4" | translate }}</a>
                        </li>
                        <li>
                            <a href="#">{{ "FOOTER.5" | translate }}</a>
                        </li>
                        <li>
                            <a href="#">{{ "FOOTER.6" | translate }}</a>
                        </li>
                        <li>
                            <a href="#">{{ "FOOTER.7" | translate }}</a>
                        </li>
                        <li>
                            <a href="#">{{ "FOOTER.8" | translate }}</a>
                        </li>
                        <li>
                            <a href="#">{{ "FOOTER.9" | translate }}</a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <div class="bot_title">{{ "FOOTER.10" | translate }}</div>
                    <div class="smallicons clearfix">
                        <i class="fa fa-map-o"></i>
                        <span>
              Germany Chemnitz
              <br />
              Tunisie Tunis
            </span>
                    </div>
                    <div class="smallicons clearfix">
                        <i class="fa fa-phone"></i>
                        <span> {{ "FOOTER.11" | translate }}: +49 178 1228351 </span>
                    </div>
                    <div class="smallicons clearfix">
                        <i class="fa fa-envelope-o"></i>
                        <span>
              {{ "FOOTER.12" | translate }}:
              <a href="#">info@apps4you.org</a>
            </span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="bot_title">{{ "FOOTER.13" | translate }}</div>
                    <ul class="bot_menu clearfix">
                        <li>
                            <a href="#">.............</a>
                        </li>
                        <li>
                            <a href="#">.............</a>
                        </li>
                        <li>
                            <a href="#">.............</a>
                        </li>
                        <li>
                            <a href="#">.............</a>
                        </li>
                        <li>
                            <a href="#">.............</a>
                        </li>
                        <li>
                            <a href="#">.............</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="bot2">
        <div class="container">
            copyright &copy; 2021 All rights reserved by APPS4YOU
        </div>
    </div>
</div>