<div id="values">
    <div id="tweets_section">
        <div class="container">
            <div class="title1 animated" data-animation="fadeInUp" data-animation-delay="200">
                {{ "VALUES.1" | translate }}
            </div>

            <div id="tweets">
                <div class="carousel-box">
                    <div class="inner">
                        <div class="carousel main">
                            <ul>
                                <li>
                                    <div class="tweets">
                                        <div class="tweets_inner">
                                            <div class="c1">
                                                <i class="fa fa-quote-left"></i>
                                            </div>
                                            <div class="txt1">
                                                <p>
                                                    &ldquo;
                                                    <b>{{ "VALUES.2" | translate }}</b> {{ "VALUES.3" | translate }}&rdquo;
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="tweets">
                                        <div class="tweets_inner">
                                            <div class="c1">
                                                <i class="fa fa-quote-left"></i>
                                            </div>
                                            <div class="txt1">
                                                <p>
                                                    &ldquo;
                                                    <b>{{ "VALUES.4" | translate }}</b> {{ "VALUES.5" | translate }}&rdquo;
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="tweets">
                                        <div class="tweets_inner">
                                            <div class="c1">
                                                <i class="fa fa-quote-left"></i>
                                            </div>
                                            <div class="txt1">
                                                <p>
                                                    &ldquo;
                                                    <b>{{ "VALUES.6" | translate }}</b> {{ "VALUES.7" | translate }}&rdquo;
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="tweets">
                                        <div class="tweets_inner">
                                            <div class="c1">
                                                <i class="fa fa-quote-left"></i>
                                            </div>
                                            <div class="txt1">
                                                <p>
                                                    &ldquo;
                                                    <b>{{ "VALUES.8" | translate }}</b> {{ "VALUES.9" | translate }}&rdquo;
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="tweets_pag"></div>
            </div>
        </div>
    </div>
</div>