<div id="realisation">
    <div id="gallery">
        <div class="container">
            <div class="title1 animated" data-animation="fadeInUp" data-animation-delay="200">
                {{ "REALISATION.1" | translate }}
            </div>
        </div>
    </div>

    <div id="gallery2">
        <div class="gallery_wrapper">
            <div class="gallery_row row1 clearfix">
                <div class="gallery gallery_left clearfix nav1 animated" data-animation="fadeIn" data-animation-delay="300">
                    <figure>
                        <img src="assets\images\gal1.jpg" alt class="img-responsive" />
                        <em></em>
                    </figure>
                    <div class="caption">
                        <div class="txt2">{{ "REALISATION.2" | translate }}</div>
                        <div class="txt6">{{ "REALISATION.3" | translate }}</div>
                    </div>
                </div>
                <div class="gallery gallery_left clearfix nav2 animated" data-animation="fadeIn" data-animation-delay="400">
                    <figure>
                        <img src="assets\images\gal2.jpg" alt class="img-responsive" />
                        <em></em>
                    </figure>
                    <div class="caption">
                        <div class="txt2">{{ "REALISATION.4" | translate }}</div>
                        <div class="txt6">{{ "REALISATION.5" | translate }}</div>
                    </div>
                </div>
            </div>
            <div class="gallery_row row2 clearfix">
                <div class="gallery gallery_right clearfix nav3 animated" data-animation="fadeIn" data-animation-delay="500">
                    <figure>
                        <img src="assets\images\gal3.jpg" alt class="img-responsive" />
                        <em></em>
                    </figure>
                    <div class="caption">
                        <div class="txt2">{{ "REALISATION.6" | translate }}</div>
                        <div class="txt6">{{ "REALISATION.7" | translate }}</div>
                    </div>
                </div>
                <div class="gallery gallery_right clearfix nav4 animated" data-animation="fadeIn" data-animation-delay="600">
                    <figure>
                        <img src="assets\images\gal4.jpg" alt class="img-responsive" />
                        <em></em>
                    </figure>
                    <div class="caption">
                        <div class="txt2">{{ "REALISATION.8" | translate }}</div>
                        <div class="txt6">{{ "REALISATION.9" | translate }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>