<div id="specialties">
    <div class="container">
        <div class="title1 animated" data-animation="fadeInUp" data-animation-delay="200">
            {{ "SPECIALTIES.1" | translate }}
        </div>

        <br />
        <br />
        <div class="row">
            <div class="col-sm-4">
                <div class="about1 clearfix animated" data-animation="fadeInLeft" data-animation-delay="300">
                    <a href="#">
                        <div class="c1">
                            <i class="fa fa-desktop"></i>
                        </div>
                        <div class="txt1 icon icon-beach_access mr-2">
                            {{ "SPECIALTIES.2" | translate }}
                        </div>
                        <div class="txt2">
                            {{ "SPECIALTIES.3" | translate }}
                            <ul>
                                <li>{{ "SPECIALTIES.4" | translate }}</li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="about1 clearfix animated" data-animation="fadeInUp" data-animation-delay="400">
                    <a href="#">
                        <div class="c1">
                            <i class="fa fa-life-ring"></i>
                        </div>
                        <div class="txt1">{{ "SPECIALTIES.5" | translate }}</div>
                        <div class="txt2">
                            {{ "SPECIALTIES.6" | translate }}
                            <ul>
                                <li>{{ "SPECIALTIES.7" | translate }}</li>
                                <li>{{ "SPECIALTIES.8" | translate }}</li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="about1 clearfix animated" data-animation="fadeInRight" data-animation-delay="500">
                    <a href="#">
                        <div class="c1">
                            <i class="fa fa-laptop"></i>
                        </div>
                        <div class="txt1">{{ "SPECIALTIES.9" | translate }}</div>
                        <div class="txt2">
                            {{ "SPECIALTIES.10" | translate }}
                            <ul>
                                <li>{{ "SPECIALTIES.11" | translate }}</li>
                                <li>{{ "SPECIALTIES.12" | translate }}</li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>
            <br />
            <br />

            <div class="site-section" id="about-section">
                <div class="container1">
                    <div class="row mb-5">
                        <div class="col-md-5 ml-auto mb-5 order-md-2" data-aos="fade">
                            <img src="assets/images/about_1.jpg" alt="Image" class="img-fluid rounded" />
                        </div>
                        <div class="col-md-6 order-md-1" data-aos="fade">
                            <div class="row">
                                <div class="col-12">
                                    <div class="text-left pb-1">
                                        <h2 class="title1 animated">
                                            {{ "SPECIALTIES.13" | translate }}
                                        </h2>
                                    </div>
                                </div>
                                <div class="col-12 mb-4">
                                    <p class="lead">{{ "SPECIALTIES.14" | translate }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>