<div id="partners">
    <div class="site-section border-bottom" id="team-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 text-center">
                    <h2 class="title1 animated" data-animation="fadeInUp" data-animation-delay="200">
                        {{ "PARTNERS.1" | translate }}
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
                    <div class="person text-center">
                        <img src="assets/images/orange.ai-converted.png" alt="Image" class="img-fluid rounded-circle w-50 mb-5" size />
                        <h3>Orange</h3>
                        <p class="position text-muted">Co-Founder, President</p>
                        <!-- <p class="mb-4">Description</p> -->
                        <!-- <ul class="ul-social-circle">
                              <li>
                                  <a href="#">
                                      <span class="fa fa-facebook"></span>
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <span class="fa fa-twitter"></span>
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <span class="fa fa-linkedin"></span>
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <span class="fa fa-instagram"></span>
                                  </a>
                              </li>
                          </ul> -->
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="400">
                    <div class="person text-center">
                        <img src="assets/images/GIZ.png" alt="Image" class="img-fluid rounded-circle w-50 mb-5" size />
                        <h3>Deutsche Gesellschaft für Internationale Zusammenarbeit</h3>
                        <p class="position text-muted">Co-Founder, COO</p>
                        <!-- <p class="mb-4">Description</p>
                          <ul class="ul-social-circle">
                              <li>
                                  <a href="#">
                                      <span class="fa fa-facebook"></span>
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <span class="fa fa-twitter"></span>
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <span class="fa fa-linkedin"></span>
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <span class="fa fa-instagram"></span>
                                  </a>
                              </li>
                          </ul> -->
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="700">
                    <div class="person text-center">
                        <img src="assets/images/pngwing.com.png" alt="Image" class="img-fluid rounded-circle w-50 mb-5" />
                        <h3>+10 European Partners</h3>
                        <p class="position text-muted">Marketing</p>
                        <!-- <p class="mb-4">Description</p>
                          <ul class="ul-social-circle">
                              <li>
                                  <a href="#">
                                      <span class="fa fa-facebook"></span>
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <span class="fa fa-twitter"></span>
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <span class="fa fa-linkedin"></span>
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <span class="fa fa-instagram"></span>
                                  </a>
                              </li>
                          </ul> -->
                    </div>
                </div>
                <!-- <div
            class="col-md-6 col-lg-4 mb-5 mb-lg-0"
            data-aos="fade"
            data-aos-delay="700"
          >
            <div class="person text-center">
              <img
                src="assets/images/seaAuto.png"
                alt="Image"
                class="img-fluid rounded-circle w-50 mb-5"
              />
              <h3>SEA SUN AUTO</h3>
              <p class="position text-muted">Marketing</p> -->
                <!-- <p class="mb-4">Description</p>
                          <ul class="ul-social-circle">
                              <li>
                                  <a href="#">
                                      <span class="fa fa-facebook"></span>
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <span class="fa fa-twitter"></span>
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <span class="fa fa-linkedin"></span>
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <span class="fa fa-instagram"></span>
                                  </a>
                              </li>
                          </ul> -->
                <!-- </div>
          </div> -->
                <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="700">
                    <div class="person text-center">
                        <img src="assets/images/qubec.jpg" alt="Image" class="img-fluid rounded-circle w-50 mb-5" />
                        <h3>3ariSoft Québec</h3>
                        <p class="position text-muted">Marketing</p>
                        <!-- <p class="mb-4">Description</p>
                          <ul class="ul-social-circle">
                              <li>
                                  <a href="#">
                                      <span class="fa fa-facebook"></span>
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <span class="fa fa-twitter"></span>
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <span class="fa fa-linkedin"></span>
                                  </a>
                              </li>
                              <li>
                                  <a href="#">
                                      <span class="fa fa-instagram"></span>
                                  </a>
                              </li>
                          </ul> -->
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="700">
                    <div class="person text-center">
                        <img src="assets/03.jpg" alt="Image" class="img-fluid rounded-circle w-500 mb-5" />
                        <h3>+25 African Partners</h3>
                        <p class="position text-muted">Marketing</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>