<div id="doing">
    <div id="what">
        <div class="left_box_wrapper">
            <div class="left_box clearfix">
                <div class="left_box_inner"></div>
            </div>
        </div>
        <div class="right_box_wrapper">
            <div class="right_box clearfix">
                <div class="title3 animated" data-animation="fadeInUp" data-animation-delay="200">
                    {{ "DOING.1" | translate }}
                </div>

                <div class="right_box_inner">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="what2 clearfix animated" data-animation="fadeInRight" data-animation-delay="300">
                                <a href="#">
                                    <div class="ic1">
                                        <i class="fa fa-apple"></i>
                                    </div>
                                    <div class="txt1">{{ "DOING.2" | translate }}</div>
                                    <div class="txt2">{{ "DOING.3" | translate }}</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="what2 clearfix animated" data-animation="fadeInRight" data-animation-delay="400">
                                <a href="#">
                                    <div class="ic1">
                                        <i class="fa fa-edit"></i>
                                    </div>
                                    <div class="txt1">{{ "DOING.4" | translate }}</div>
                                    <div class="txt2">{{ "DOING.5" | translate }}</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="what2 clearfix animated" data-animation="fadeInRight" data-animation-delay="500">
                                <a href="#">
                                    <div class="ic1">
                                        <i class="fa fa-connectdevelop"></i>
                                    </div>
                                    <div class="txt1">{{ "DOING.6" | translate }}</div>
                                    <div class="txt2">{{ "DOING.7" | translate }}</div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="what2 clearfix animated" data-animation="fadeInRight" data-animation-delay="600">
                                <a href="#">
                                    <div class="ic1">
                                        <i class="fa fa-database"></i>
                                    </div>
                                    <div class="txt1">{{ "DOING.8" | translate }}</div>
                                    <div class="txt2">{{ "DOING.9" | translate }}</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="what2 clearfix animated" data-animation="fadeInRight" data-animation-delay="700">
                                <a href="#">
                                    <div class="ic1">
                                        <i class="fa fa-dropbox"></i>
                                    </div>
                                    <div class="txt1">{{ "DOING.10" | translate }}</div>
                                    <div class="txt2">{{ "DOING.11" | translate }}</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="what2 clearfix animated" data-animation="fadeInRight" data-animation-delay="800">
                                <a href="#">
                                    <div class="ic1">
                                        <i class="fa fa-life-ring"></i>
                                    </div>
                                    <div class="txt1">{{ "DOING.12" | translate }}</div>
                                    <div class="txt2">{{ "DOING.13" | translate }}</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>