<div id="services">
    <div class="container">
        <div class="title1 animated" data-animation="fadeInUp" data-animation-delay="200">
            {{ "SERVICES.1" | translate }}
        </div>
    </div>
</div>

<div id="services2_wrapper">
    <div id="services2">
        <div class="left_box_wrapper">
            <div class="left_box clearfix">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="services2 nav1 animated" data-animation="fadeIn" data-animation-delay="200">
                            <div class="ic1">
                                <i class="fa fa-rss"></i>
                            </div>
                            <div class="txt1">{{ "SERVICES.2" | translate }}</div>
                            <div class="txt2">{{ "SERVICES.3" | translate }}</div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="services2 nav2 animated" data-animation="fadeIn" data-animation-delay="300">
                            <div class="ic1">
                                <i class="fa fa-paint-brush"></i>
                            </div>
                            <div class="txt1">{{ "SERVICES.4" | translate }}</div>
                            <div class="txt2">{{ "SERVICES.5" | translate }}</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="services2 nav3 animated" data-animation="fadeIn" data-animation-delay="400">
                            <div class="ic1">
                                <i class="fa fa-line-chart"></i>
                            </div>
                            <div class="txt1">{{ "SERVICES.6" | translate }}</div>
                            <div class="txt2">{{ "SERVICES.7" | translate }}</div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="services2 nav4 animated" data-animation="fadeIn" data-animation-delay="500">
                            <div class="ic1">
                                <i class="fa fa-windows"></i>
                            </div>
                            <div class="txt1">{{ "SERVICES.8" | translate }}</div>
                            <div class="txt2">{{ "SERVICES.9" | translate }}</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="services2 nav3 animated" data-animation="fadeIn" data-animation-delay="400">
                            <div class="ic1">
                                <i class="fa fa-cns"></i>
                            </div>
                            <div class="txt1">{{ "SERVICES.10" | translate }}</div>
                            <div class="txt2">{{ "SERVICES.11" | translate }}</div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="services2 nav4 animated" data-animation="fadeIn" data-animation-delay="500">
                            <div class="ic1">
                                <i class="fa fa-main"></i>
                            </div>
                            <div class="txt1">{{ "SERVICES.12" | translate }}</div>
                            <div class="txt2">
                                {{ "SERVICES.13" | translate }}
                                <ul>
                                    <li>{{ "SERVICES.14" | translate }}</li>
                                    <li>{{ "SERVICES.15" | translate }}</li>
                                    <li>{{ "SERVICES.16" | translate }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right_box_wrapper"></div>
    </div>
</div>